<%- include("header"); -%>
 <link rel="stylesheet" href="css/home.css">
 <div class="all-post-area">

  <span>
   <%= title %>
  </span>
  <div class="posts">
   <%= content %>
  </div>
 </div>

 <%- include("footer") -%>