@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap");

.create-post {
  font-family: "Rowdies", cursive;
  height: fit-content;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-post-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  margin: 1rem 5rem;
  border-radius: 2rem;
}

.new-post-area p {
  margin: 1rem;

  font-size: 0.8rem;
  color: grey;
  font-weight: lighter;
}

.new-post-btn {
  background-color: black;
  padding: 1rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}

.new-post-btn:hover {
  background-color: grey;
}

.new-post-btn a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  transition: all 0.4s ease;
}

.new-post-btn a:hover {
  color: black;
}

.all-post-area {
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  
}

.posts {
  padding-bottom: 0.4rem;
  /* padding-left: 1rem; */
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(112, 111, 111);
}

.all-post-area  span{
  font-family: "Rowdies", cursive;
  padding-bottom: 0.7rem;
  font-size: 1.4rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.all-post-area .posts >a{
  color: rgb(49, 167, 240);
  text-decoration: none;

}

input{
  font-family: "Rowdies", cursive;
  font-weight: lighter;
  margin: 0.7rem 0;
  color:grey;
  border: none;
  background-color: white;
  padding: 0.4rem 1rem;
  transition: all 0.3s ease;
  border-radius: 1rem;
  background-color: black;
  color: aliceblue;
}

input:hover{
  background-color: rgb(184, 184, 184);
  color: black;
  cursor:pointer;
}

form button{
  font-family: "Rowdies", cursive;
  background-color: black;
  color: white;
  padding: 0.8rem 2rem;
  border:none;
  border-radius: 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.4s ease;
  margin: 4rem 0;
}

form button:hover{
  color: white;
 background-color: grey;
 cursor: pointer;
}